* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(65, 65, 65);
  color: white;
}

.gameboard {
  display: flex;
  flex-direction: column;
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  margin: 20px 0;
}

.cell {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid white;
  font-size: 1rem;
}
.cells-container{
  display: flex;
  gap: 10px;
}
.correct {
  background-color: #6aaa64;
}

.incorrect {
  background-color: #787c7e;
}
.misplaced {
  background-color: orange;
}

.solution-input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 1rem;
  outline: none;
  width: 150px;
}